@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    padding: 5% 5% 5% 5%;
    display: flex;
    column-gap: 10px;
    background-color: #141414;
}

.left{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
}

.right{
    width: 45%;
    height: 100%;
    position: relative;
}

.about_kriti{
   font-family: "Rethink Sans", sans-serif;
   font-size: 15px;
   color: white;
   display: flex;
   align-items: center;
}

.big_heading{
   font-family: "Rethink Sans", sans-serif;
   font-size: 60px;
   color: white;
}

.desc{
   font-family: "Rethink Sans", sans-serif;
   font-size: 17px;
   color: white;
   width: 82%;
}

.Frame19{
   position: absolute;
   z-index: 50;
   top: 20%;
   left: 10%;
   height: 51%;
   width: 46.7%;
}

.Frame6{
    position: absolute;
    z-index: 45;
    top: 17%;
    left: 7%;
    height: 57%;
    width: 52.7%;
}

.Frame20{
   position: absolute;
   z-index: 40;
   left: 30%;
   height: 53%;
   width: 48.2%;
}

.Frame7{
    position: absolute;
    z-index: 35;
    left: 27.8%;
    top: -2.5%;
    height: 58%;
    width: 52.6%;
 }

.Union1{
   position: absolute;
   z-index: 30;
   left: 10%;
   height: 30%;
   width: 23%;
}

.Union{
   position: absolute;
   z-index: 20;
   top: 49%;
   left: 49%;
   height: 30%;
   width: 41%;
}

@media screen and (max-width: 1250px){
   .big_heading{
    font-size: 40px;
   }
}

@media screen and (max-width: 850px){
    .container{
        position: relative;
        width: 100%;
        flex-direction: column;
        height: 120vh;
        padding: 2%;
        row-gap: 60px;
    }
    .left{
        width: 100%;
        height: 50%;
        position: relative;
        top: 50%;
    }
    .right{
        width: 100%;
        height: 50%;
        position: absolute;
        top: 5%;
        left: 0;
    }
    .big_heading{
        font-size: 40px;
    }
    .desc{
        width: 100%;
    }
}

@media screen and (max-width: 650px){
    .container{
        height: 120vh;
    }

    .big_heading{
        font-size: 30px;
    }
}

