/* Base Navbar Styling */
.navbar {
  z-index:30;
  width: 100%;
  color: #FFFFFF;
  padding: 0 1rem;
  position: relative;
}

.navbar-content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.nav-logo {
  height: 60px;
  cursor: pointer;
}

/* Navigation Elements for Desktop */
.nav-element {
  display: flex;
  align-items: center;
  gap: 2rem;
}
/* Other existing styles... */

.nav-item.dropdown {
  position: relative;
  cursor: pointer;
}

.nav-item.dropdown:hover .dropdown-content {
  display: block; /* Show the dropdown on hover */
}

.dropdown-content {
  display: none;
  position: absolute;

top:30px;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size:1rem;
}

.dropdown-content a:hover {
  background-color: black;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
}

.nav-item {
  display: flex;
  width: 190px;
  padding: 5px 12px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.faqt{
  cursor: pointer;
  transition: transform 0.3s ease;
}

.faqt:hover{
  transform: scale(1.1);
}


.nav-item:hover {
  transform: scale(1.1);
}

/* Login Button Styling */
.nav-login-button {
  display: flex;
  width: 101px;
  padding: 5px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top:0px;
  color: white;
  cursor: pointer;
  border-radius: 13px;
  border: 0.5px solid #FFF;
  background: var(--grad-black, linear-gradient(98deg, rgba(0, 0, 0, 0.40) -18.86%, rgba(102, 102, 102, 0.40) 407.73%));
  transition: transform 0.3s ease;
}

.nav-login-button:hover {
  transform: scale(1.1);
}

/* Hamburger Menu for Mobile */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 0.2rem;
  cursor: pointer;
  background: none;
  border: none;
}

.hamburger-line {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
}

/* Top-right background */

/* Responsive Styles */
@media (max-width: 950px) {
  .hamburger {
    display: flex;
  }

  .nav-element {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: #141414;
    padding: 1rem;
    gap: 1rem;
    z-index:30;
    opacity:0.8;
   
  }

  .nav-element.open {
    display: flex;
  }

  .nav-item {
    font-size: 1rem;
    padding: 0.5rem 0;
    
  }
.dropdown-content{
  background:rgba(0, 0, 0, 0.80);
}
  
  .nav-login-button {
    display: flex;
  }
}
