
nav {
    height: 73px;
    width: 100vw;
    margin: 0px;
    background-color:#232323;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-logo {
    margin-left: 10px;
  }
  .nav-element {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 17px;
}
button {
  width: 70px;
  height: 1.5rem;
  background-color: #232323;
  color: #FFFFFF;
  border: 0.08px solid #FFFFFF;
  border-radius: 9px;
}